<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>

<body>
    <div class="is-centered">


        <h1 class="is-centered">Add Information</h1>
        <form id="add-scenario-form" action="/api/admin/create" method="POST">
            <div class="column is-one-third is-centered">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="column is-one-third is-centered">
                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>
            </div>
            <div class="column is-one-third is-centered">
                <label for="choice1">Choice 1:</label>
                <input type="text" id="choice1" name="choices[]" required>
                <label for="choice2">Choice 2:</label>
                <input type="text" id="choice2" name="choices[]" required>
            </div>
            <button type="submit" class="button is-primary is-rounded mb-3 is-centered">Submit</button>
        </form>



        <div class="box column has-text-white has-background-info is-rounded mx-2">
            <h2>Users</h2>
            <ul id="data-list">
                {{#each users}}
                <li>{{users.username}} - {{users.email}}
                    <button class="edit-btn" data-id="">Edit</button>
                    <button class="delete-btn" data-id="">Delete</button>
                </li>
                {{/each}}
            </ul>
        </div>
        <script src="/js/admin.js"></script>
</body>