{{#if loggedIn}}


{{!--

body in charge of text and info for game running

--}}
<main>

  <div class="has-text-centered">
    <h2 class="is-size-3">Welcome to Dark Whispers, {{user.username}}!</h2>
  </div>


  <h2 class="has-text-centered is-size-3 my-4"> Choose your Adventure</h2>
  <div class="container is-fluid">
    <section class="columns is-centered my-4">

      <div class="box column is-one-third has-background-link-dark is-rounded mx-2  ">
        <h3 class="content is-size-4">Journey through the dark forest</h3>
        <a href="/newGame/1" class="button is-danger is-rounded">New Game</a>

      </div>

      <div class="box column is-one-third has-background-link-dark is-rounded mx-2 ">
        <h3 class="content is-size-4">More to come...</h3>

      </div>

      <div class="box column is-one-third has-background-link-dark is rounded mx-2 ">
        <h3 class="content is-size-4">Finish the thing</h3>
        <a href="/continue/1" class="button is-primary is-rounded">Continue</a>

      </div>
      <h3 class="content is-size-4"></h3>

    </section>
  </div>

</main>

{{else}}
<div class="card">
  <div class="card-content has-text-centered">

    <div class="content ">
      Please Login before access this page
    </div>

    <div class="columns is-centered">
      <a href="/login" class="button is-light is-rounded column is-half my-3 ">login</a>
    </div>

    <div class="columns is-centered">
      <a href="/register" class="button is-dark is-rounded column is-half my-3">signup</a>
    </div>
  </div>

</div>

{{/if}}