<div class="card">
  <div class="container is-fluid">
    <form class="card" action="/api/auth/login" method="POST">
      <h1 class=" has-text-centered mb-4 is-size-2 ">Login</h1>

      <div class="has-text-centered my-2 is-size-4 field">
        <label class="label">Username:</label>
        <input class="input column is-half is-offset-one-quarter is-large" type="text" id="username-login"
          name="username" placeholder="Input Username" required />
      </div>

      <div class="control has-text-centered my-2 is-size-4 has-icons-right">
        <label class="label">Password:</label>
        <input class="input column is-half is-offset-one-quarter is-large" type="password" id="password-login"
          name="password" placeholder="********" required />
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>

      <div class="columns is-centered">
        <button class="button is-light is-rounded column is-one-quarter my-3 is-centered" type="submit">Login</button>
      </div>

    </form>
  </div>
</div>
<script src="/js/auth.js"></script>