{{!-- This partial will be used as a primary tool to handle different game scenarios --}}

<main>
        
    <div>
        Scenario Placeholder
    </div>

    <button>Option 1</button>
    <button> Option 2</button>
    <button> Option 3</button>

</main>

{{!-- Scenario 1
    Player ventures in the cave.
 --}}

 {{!-- Scenario 2
    Player leaves the cave. The End.
  --}}

{{!-- Scenario 3
    Player finds Swordbased gun in cave
 --}}

 {{!-- Scenario 4
    Player finds bear , Fight it or run away
  --}}

{{!-- Scenario 5
    Player gets eaten by bear. Game over/try again (This will reset them back to scenario 1)
 --}}

 {{!-- Scenario 6
    Player defeats bear. Gets a cool hat
  --}}

  {{!-- Scenario 7
    Player gets crushed by bolder. Game over/try again (This will reset them back to scenario 1)
   --}}

   {{!-- Scenario 8
    Player finds a treasure, but first has to solve a riddle
    --}}

    {{!-- Scenario 9
        Player fails riddle. Goes home in shame. Game over/try again (This will reset them back to scenario 1)
     --}}

     {{!-- Scenario 10
     Player solves riddle. Gets treasure and goes home. Congratulations. You win.
      --}}

