{{!-- This partial will be used as a primary tool to handle different game scenarios --}}

<main>
        
    <div class="columns is-centered"> 
         <section class="column is-two-thirds ">
            <div class="box is-size-4" style="min-height: 300px;">
                this will be the the main text that describes the current scenario. 
                By importing the scenario description it will fill this area.
            </div>
        </section>
    </div>

    <div  class="columns is-centered my-2">
        <button class="button mx-2 is-size-5">Option 1</button>
        <button class="button mx-2 is-size-5"> Option 2</button>
        <a href="/bypass" class="button mx-5 is-size-5 ">Exit Game</a>
    </div>

</main>

{{!-- Scenario 1
    Player ventures in the cave.
 --}}

 {{!-- Scenario 2
    Player leaves the cave. The End.
  --}}

{{!-- Scenario 3
    Player finds Swordbased gun in cave
 --}}

 {{!-- Scenario 4
    Player finds bear , Fight it or run away
  --}}

{{!-- Scenario 5
    Player gets eaten by bear. Game over/try again (This will reset them back to scenario 1)
 --}}

 {{!-- Scenario 6
    Player defeats bear. Gets a cool hat
  --}}

  {{!-- Scenario 7
    Player gets crushed by bolder. Game over/try again (This will reset them back to scenario 1)
   --}}

   {{!-- Scenario 8
    Player finds a treasure, but first has to solve a riddle
    --}}

    {{!-- Scenario 9
        Player fails riddle. Goes home in shame. Game over/try again (This will reset them back to scenario 1)
     --}}

     {{!-- Scenario 10
     Player solves riddle. Gets treasure and goes home. Congratulations. You win.
      --}}

