
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dark Whispers</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>
{{#if loggedIn}}
  <header>
    <h1>A run in the Temple</h1>
  </header>

  <nav>
    <button id="logout" class="btn-no-style">Logout</button>
  </nav>

  <main>

    <div class="contents">
      {{{body}}}
    </div>

  </main>


  <script src="/js/logout.js"></script>


  <script src='script.js'></script>
</body>

 {{else}}
 <header>
    <h1> Please login before accesing the Game.<h1>
    <a href="/index">Return to homepage</a>

</header>
  {{/if}}
</html>