<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dark Whispers</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">

</head>

<body>

  <header class="header is-flex is-align-items-baseline is-justify-content-space-evenly">

    <p class="content has-text-right is-size-4"> The anthology</p>
    <h1 class="content has-text-left is-size-2"> Dark Whispers</h1>

    <button id="logout" class="button is-rounded is-primary is-small">logout</button>
  </header>

  {{{body}}}

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        This site was made with the collaboration of <a href="https://github.com/mmalcolmm">Malcolm</a> , <a
          href="https://github.com/cnm724">Courtney</a> , and <a href="https://github.com/sentorus67">Jemeric</a>.
        Liscened by <a href="https://opensource.org/licenses/MIT">MIT</a>. designed using <a
          href="https://bulma.io/">Bulma</a>.
      </p>
    </div>

    </div>
    <div class="has-text-centered">
      <a href="/admin" class="button is-light is-rounded is-small"> Admin Toolkit</a>

    </div>
  </footer>
</body>

</html>

<script src="/js/logout.js"></script>