<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dark Whispers</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>

  <header class="header is-flex is-align-items-baseline is-justify-content-space-evenly">
    <h1 class="content has-text-left is-size-2"> Dark Whispers</h1>
    <p class="content has-text-right is-size-4"> The anthology</p>

  </header>

  {{{body}}}

  <footer class="footer">


    <div class="content has-text-centered">
      This site was made with the collaboration of <a href="">Malcolm</a> , <a href="">Courtney</a> , and <a
        href="">Jemeric</a>.
      Liscened by <a href="">MIT</a>. designed using <a href="">Bulma</a>.

    </div>
    <div class="has-text-centered">
      <a href="/admin" class="button is-light is-rounded"> Admin Toolkit</a>
    </div>
  </footer>
</body>

</html>